/* CSS declarations go here */
#login-screen {
	background-image: url('xs-logindog.png');
	height: 667px;
	width: 375px;
}

#logo {
	width: 262px;
}

#button-container {
  margin-top: 130%;
}

button {
	color: white;
	background-color: transparent;
  left:50%;
  width:200px;
  bottom:5px;
}

#login, #signup{
	border: 1px solid white;
}

#signup {
	margin-top: 10px;
}

